@font-face {
    font-family: 'Steelfish';
    src: url('../font/steelfish.ttf');
}

@font-face {
    font-family: 'RopaSansRegular';
    src: url('../font/RopaSans/RopaSans-Regular-webfont.eot');
    src: url('../font/RopaSans/RopaSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/RopaSans/RopaSans-Regular-webfont.woff') format('woff'),
         url('../font/RopaSans/RopaSans-Regular-webfont.ttf') format('truetype'),
         url('../font/RopaSans/RopaSans-Regular-webfont.svg#RopaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// PROPRIETES LESS //

@beige: #DACBAE;
@brun: #644415;
@vert: #86AE28;
@vert-clair: #a6c94e;
@vert-fonce: #455f0a;
@steelfish: 'Steelfish', 'Sans-serif';
@ropa: 'RopaSansRegular', 'Sans-serif';

.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.span16 {
	width: 100%;
}

.span15 {
	width: 93.75%;
}

.span14 {
	width: 87.5%;
}

.span12 {
	width: 75%;
}

.span11 {
	width: 68.75%;
}

.span10 {
	width: 62.5%;
}

.span7 {
	width: 43.75%;	
}

.span6 {
	width: 37.5%;	
}

.span5 {
	width: 31.25%;	
}

.span4 {
	width: 25%;
}

.span3 {
	width: 18.75%;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

// PROPRIETES LESS //
// PROPRIETES COMMUNES //
body {
	background-image: url('../img/bg/body-bg.jpg');
	font-family: @ropa;
	font-size: 16px;
	max-width: 1024px;
	margin: 0 auto;
	color: @brun;
}

li {
	list-style-type: none;
}

h2 {
	font-size: 34px;
	font-family: @steelfish;
	color:  @brun;
	display: block;
	text-transform: uppercase;
	position: relative;
	font-weight: normal;

	&:after {
		content: "";
		width: 150px;
		position: absolute;
		background-color: @vert;
		height: 10px;
		left: 26px;
		top: 32px;
		z-index: -1;
		box-shadow: 2px 2px 2px #999;
	}
}

#container {
	.span14;
	margin: 3em auto;
}

#display-none {
	display: none;
}

button {
	font-size: 18px;
	font-family: @ropa;
	background-color: @vert-fonce;
	color: @beige;
	border: none;
	margin-top: 0.5em;
	padding: 0.1em 0.2em;
	width: 100%;
	cursor: pointer;
	.rounded-corners;

	&:hover {
		background-color: @vert;
		color: @brun;
	}
}

.sous-menu {
	float: left;

	ul {
		width: 172px;
		font-size: 15px;
		background-color: @vert;
		.rounded-corners;
	}

	li {
		padding: 0.2em 0.5em;
		text-align: left;
		height: 25px;
		border-bottom: 1px dashed @vert-clair;
	}

	li:hover {
		background-color: @vert-clair;
		.rounded-corners;
	}

	a {
		text-decoration: none;
		color: @brun;
		text-transform: uppercase;
		font-size: 18px;
		display: block;
	}
}

.top_link {
	position: fixed;
	right: 2em;
	top: 25em;
	display: none;
	z-index: 2000;
	text-decoration: none;
	background: url('../img/hautPage.png') no-repeat;
	height: 100px;
	width: 111px;
	text-indent: -9999px;
}   

.red {
	color: #BF1328;
}

// PROPRIETES COMMUNES //
// HEADER //
header {
	text-align: center;
	position: relative;
}

h1 {
	position: absolute;
	width: 100%;
	height: 0px;
	top: 1.5em;
	
	img {
		z-index: 2;
		position:relative;
	}
}

#menu {
	background-image: url('../img/bg/menu-bg.png');
	height: 5.4em;
	z-index: 1;
	font-family: @steelfish;

	position: relative;

	ul {
		margin-left: -28px;
		height: 0px;
	}

	li {
		display: inline;
		position: relative;
		top: 0.5em;
		text-transform: uppercase;
		padding: 0.1em 1em;
		border: none;	
		font-size: 30px;
	}

	a {
		text-decoration: none;
		color: @beige;
		padding: 0.2em;
	}

	a:hover {
		cursor: pointer;
		background-color: @vert;
		border-radius : 4px;
	}

	.none {
		visibility: hidden;
	}	
}

#sous-menu {
	background-image: url('../img/bg/sous-menu.jpg');
	margin: -0.5em auto;
	.span15;
}

#search-box{
	float: left;
	margin: 1.8em 0 0 2.6em;
	position: relative;
	.span3;

	input {
		background: url('../img/bg/search-box.png') no-repeat;
		border: none;
		padding: 0.2em;
		font-size: 24px;	
		color: @brun;
		.rounded-corners;
		font-family: @steelfish;
	}

	button {
		position: absolute;
		left: 7.55em;
		top: -0.35em;
		height: 35px;
		width: 35px;
		cursor: pointer;
		background: url('../img/spriteLoupe.png') no-repeat -50px 0px;	
		text-indent: -9999px;
	}

	button:hover {
		background: url('../img/spriteLoupe.png') no-repeat -115px 0px;	
	}
}

#connexion, #basket {
	float: right;
	font-size: 18px;

	li {
		display: inline;
	}

	a {
		color: @beige;
	}
}

#basket {
	margin: 1.8em 2.6em 0 0;
	height: 30px;

	p {
		color: @beige;
		cursor: pointer;
	}

	p:before {
		content:"";
		background: url('../img/spriteLoupe.png') no-repeat;
		width: 21px;
		text-indent: -9999px;
		position: absolute;
		margin: -0.5em 0 0 -1.8em;
		height: 30px;
	}
}

#basket-details{
	position: absolute;
	background-color: @beige;
	border: 2px solid @vert-fonce;
	padding: 0.6em;
	left: 52em;
	top: 8.8em;
	z-index: 3;
	font-size: 15px;
	.rounded-corners;

	p {
		text-align: left;
		border-bottom: 1px dashed @vert-fonce;
		padding-bottom: 0.5em;
	}

	td {
		padding: 0.3em 0;
	}

	td:first-child {
		padding-right: 2.5em;
		text-align: right;
	}		

	a {
		background-color: @vert-fonce;
		color: @beige;
		.rounded-corners;
		padding: 0.5em;
		text-decoration: none;
		margin-top: 1em;
		display: block;
	}

	a:hover {
		background-color: @vert;
		color: @vert-fonce;
	}
}

#connexion {
	margin: 40px -163px 30px 0 ;
	padding: 1em 0 2em 0;

	li {
		color: @beige;
	}

	a:hover {
		text-decoration: none;
		color: @vert;
	}
}
	
#menu-dropdown {
	clear: both;
	font-size: 19px;
	position: relative;
	top: -0.5em;
	margin: 0 auto;
	font-family: @ropa;

	li {
		display: inline;
		padding-right: 0.5em;
	}

	li + li {
  		border-left: 1.8px solid @beige;
  		padding-left: 0.5em;
	}

	a {
		text-decoration: none;
		color: @beige;
	}

	li + li + li + li + li + li + li + li + li {
  		border-left: 1.8px solid @beige;
  		padding-right: 0em;
	}

	.li-nav:hover > a {
		color: @beige;
		border-bottom: 10px solid @beige;
	}
}

#menu-dropdown .dropdown {
	background-color: @beige;
	border: 2px solid @vert-fonce;
	border-top: 1px solid @beige;
	position: absolute;
	z-index: 2;
	font-size: 16px;
	margin-top: 0.4em;
	padding-top: 1.5em;
	text-align: left;
	color: @vert-fonce;
	height: 330px;
	width: 956px;

	p {
		padding: 0.2em 0;
		
		a {
			color: @vert;
			font-size: 30px;
			font-family: @steelfish;
		}
	}

	a {
		text-decoration: none;
		color: @vert-fonce;	
	}

	li {
		display: block;
		padding-left: 1em;
	}

	li a:hover {
			text-decoration: underline;
			border: none;
		}

	.desc {
		border-right: 2px solid @vert-fonce;

		li {
			padding-left: 0em;
		}
	}
}

.colonne {
	display: inline-block; 
	width: 189px;
	float: left;
}

h3 {
	font-size: 26px;
	font-weight: normal;
	padding: 0em 0em 0.5em 0;
	font-family: @steelfish;
}
// HEADER //
// DIV AVANTAGES //
.avantages {
	float: left;

	ul {
		padding-top: 1em;
		width: 172px;
		font-size: 15px;
	}

	li {
		background : url('../img/sprite.png') no-repeat;
		list-style-type: none;
		padding: 0.5em 0;
		text-align: left;
		height: 25px;
	}

	.livraison {
		background-position: 0px -48px;	
	}

	.frais {
		background-position: 0px -96px;
	}

	.paiement {
		background-position: 0px -144px;
	}

	.service {
		background-position: 0px -192px;
	}

	a {
		text-decoration: none;
		color: @vert-fonce;
	}

	a:hover {
		text-decoration: underline;
	}

	.remise {
		background-position: 0px -240px;
	}

	p {
		margin-left: 44px;
		margin-top: 0.1em;
		height: 40px;
	}
}

.service p, .remise p, .frais p {
	margin-top: -0.4em;
}
// DIV AVANTAGES //
// PROMO FÊTES //
#promo-fetes, .cheques-cadeaux, .a-propos {
	margin-left: 260px;
}
// PROMO FÊTES //
.news, .promos, .product-liquid, .product-list {
	clear: both;
	padding-top: 2em;

	a {
		color: @brun;
		text-decoration: none;
		text-align: center;
	}

	a.voir {
		float: right;
		margin: 1.5em 1em 0 0;
		text-decoration: underline;	
	}

	a.voir:hover {
		text-decoration: none;
	}

	a.voir-liquid {
		padding-bottom: 4em;
	}

	li {
		padding: 0.2em;
		display: inline-block;
		width: 152px;
		background-color: @vert;
		margin: 15px 16px 0 0;
		box-shadow: 2px 2px 1px #999;

		&:hover {
			background-color: @vert-clair;
			box-shadow: 2px 2px 4px #999;
		}

		&.marqueurs:after {
			content:"";
			background: url('../img/marqueurs.png') no-repeat;
			position: absolute;
			height: 60px;
			width: 60px;
			margin-top: -280px;
			margin-left: 110px;
		}
	}

	.reduction {
		position: absolute;
		margin-top: -276px;
		margin-left: 127px;
		font-size: 34px;
		z-index: 1;
		font-family: @steelfish;
	}

	.pourcent {
		font-size: 40%;
		position: absolute;
		margin-top: 21px;
		margin-left: 3px;
		font-family: @steelfish;
	}

	.delete-price {
		text-align: right;
		padding-right: 0.5em;
		text-decoration: line-through;
		font-family: @steelfish;
		font-size: 18px;
	}

	.new-price {
		font-size: 38px;
		color: @beige;
		font-family: @steelfish;
	}
}

// FOOTER //
#footer {
	border-top: 5px solid @vert;
	height: 140px;
	clear: both;

	div {
		width: 242px;
		display: inline-block;
		float: left;
		padding: 0 1em;
	}

	.newsletter, .livraison {
		padding: 0 4em;

		input {
			padding: 0.5em;
			color: @brun;
		}

		.submit {
			font-size: 18px;
			font-family: @ropa;
			background-color: @vert;
			color: @beige;
			border: none;
			padding: 0.2em;
			cursor: pointer;

			&:hover {
				background-color: @brun;
			}
		}
	}

	.paiement {
		padding-left: 1.3em;
		padding-right: 1.3em;
	}

	p {
		padding-bottom: 1em;
	}

	h3 {
		text-transform: uppercase;
		font-family: @steelfish;
		font-size: 23px;
	}
}

.paiement li, .livraison li {
	width: 33px;
	display: inline-block;
	padding-right: 1em;
	height: 30px;
}

.livraison li {
	background: url('../img/icones/livraison.png') no-repeat;

	a {
		text-indent: -9999px;
		display: inline-block;
	}

	&.bpost {
		background-position: -68px 0px;
		width: 38px;
	}
}

.paiement li {
	background: url('../img/icones/paiement.png') no-repeat;

	a {
		text-indent: -9999px;
		display: inline-block;
	}
}

li.cb {
	background-position: -58px 0px;
}

li.mastercard {
	background-position: -111px 0px;
}

li.visa{
	background-position: -170px 0px;
}

li.paypal {
	background-position: -231px 0px;
	width: 65px;
}

#footer-bis {
	background-image: url('../img/bg/footer2.png');
	height: 250px;
	margin-top: 2em;
	color: @beige;

	h4 {
		padding-bottom: 0.3em;
		text-transform: uppercase;
		font-size: 23px;
		font-family: @steelfish;
		font-weight: normal;
		color: @brun;
	}

	p {
		padding-left: 0.5em;
	}

	a {
		color: @brun;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	div {
		position: relative;
		top: 2em;
		padding-left: 1.17em;
		width: 177px;
		display: inline-block;
		float: left;
	}

	.client {
		padding-left: 4em;
	}

	.facebook {

		p {
			margin: 10px 0 0 35px;
		}

		a {
			color: @beige;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:before {
				content:"";
				background: url('../img/icones/facebook.png') no-repeat;
				width: 100px;
				text-indent: -9999px;
				margin: -6px 0 0 -35px;
				position: absolute;
				height: 50px;
			}
		}
	}

	.copyright {
		margin-top: 1em;
		padding: 1em 0;
		width: 100%;
		text-align: center;
		color: @brun;

		li {
			display: inline;

			& + li  {
				border-left: 1px solid @brun;
			}

			a {
				color: @brun;
			}
		}
	}

	li {
		padding-left: 0.5em;

		a {
			color: @beige;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
/************** FIN FOOTER ********************/

// MON-COMPTE.HTML
input {
	letter-spacing: 0.02em;
}
fieldset {
	border: 1px dashed @brun;
	padding: 1em;
}

legend {
	padding: 0.5em;
	text-transform: uppercase;
	font-family: @steelfish;
	font-size: 23px;
}

div#creer-compte {
	.span14;
	margin-top: 0em;

	label {
		display: inline-block;
		font-size: 18px;
	}

	p {
		font-size: 16px; 
		border: none;
		margin-bottom: 0.2em;
	}

	input {
		margin: 0em;
		.span6;
		padding-left: 0.5em;
	}

	.checkbox {
		visibility: hidden;
	}

	select {
		color: @vert-fonce;
		.rounded-corners;
		border: none;
		padding: 0.2em;
		font-size: 23px;
		font-family: @steelfish;
	}

	button {
		margin-top: 1em;
		width: 25%;
	}
}

p.news {
	padding-top: 0em;
}

.newsletter-form {
	.span5;
	position: relative;

	label {
		padding-right: 0em;
	}
}

#creer-compte .newsletter, #creer-compte .newsletter2 {
	background: url('../img/icones/checkbox.png') no-repeat 140px 0px;
	width: 130px;
}

#creer-compte .newsletter2 {
	background: url('../img/icones/checkbox2.png') no-repeat 140px 0px;
	position: relative;
	width: 130px;
}

.confident {
	margin-top: 1em;
}

.mon-compte, div.inscription, #creer-compte, .ma-commande {
	.span6;
	.rounded-corners;
	background-color: rgba(134,174,40,0.3);
	padding: 1em;
	margin: 4em 2em 3em;
	font-size: 18px;
	float: left;
	position: relative;

	h3 {
		background-color: @vert;
		.rounded-corners;
		padding: 0.2em 0;
		position: relative;
		margin: -0.75em auto 0em;
		top: -0.5em;
		text-align: center;
		font-size: 27px;
		text-transform: uppercase;
		.span16;
	}

	p {
		.span12;
		font-size: 22px;
		margin-bottom: 0.8em;
		padding-bottom: 0.2em;
		border-bottom: 1px dashed @vert-fonce;

		& + p {
			.span16;
			border: none;
			font-size: 16.5px;
		}

	}

	input, textarea {
		font-family: @steelfish;
		width: 180px;
		margin-bottom: 0.8em;
		.rounded-corners;
		font-size: 23px;
		color: @vert-fonce;
		padding: 0.1em;
		border: none;
		max-width: 180px;
	}

	label {
		width: 90px;
		float: left;
		text-align: right;
		padding-right: 3em;
	}

	button {
		margin: 0em;
		padding: 0.3em 0em;
	}

	a {
		font-size: 14px;
		color: @brun;
		float: right;
		margin-bottom: 0.5em;
	}

	a:hover {
		text-decoration: none;
	}
}

// NOUVEAUTES.HTML
.nouveautes, .a-propos p {
	margin: 2em 0em;

	a {
		color: @vert-fonce;
	}

	a:hover {
		text-decoration: none;
	}
}

.article, .top-bar {
	.span12;
	margin-left: 14em;
}

.top-bar {
	ul {
		text-align: right;
		li {
			display: inline;
		}

		a {
			text-decoration: none;
			color: @brun;
			background-color: @vert;
			padding: 0.1em 0.5em;
			.rounded-corners;
			font-size: 18px;
		}
	}

	a:hover, select:hover {
		background-color: @brun;
		color: @vert;
	}
}

.affichage {
	position: relative;
	top: -1.8em;
	left: 24.5em;
	.span7;

	select {
		.rounded-corners;
		border: none;
		padding: 0.1em;
		background-color: @vert;
		color: @brun;
	}
}

.nb-results {
	border-bottom: 1px dashed @brun;
	padding-bottom: 0.5em;
}

.article {
	.span11;
	.rounded-corners;
	background-color: rgba(134,174,40,0.3);
	padding: 1em;
	margin-left: 13em;
	margin-top: 1em;
	font-size: 18px;
	position: relative;	

	img {
		float: left;
		border: 3px solid @vert;
		.rounded-corners;
	}

	h3 {
		margin-left: 6.1em;
		text-transform: uppercase;
		font-size: 30px;
		color: @vert-fonce;
	}

	button {
		width: 160px;
		padding: 0.5em 0em;
	}

	a {
		background-color: @vert-fonce;
		padding: 0.2em 0em;
		margin-top: 0.5em;
		color: @beige;
		display: block;
		text-align: center;
		text-decoration:none;
		width: 160px;
		.rounded-corners;
	}

	a:hover {
		background-color: @vert;
		color: @brun;
	}
}

.description {
	float: right;
	.span11;
	margin-top: -11em;
	position: relative;
	left: -0.5em;
}

.FP-description {
	float: none;
	margin-left: 10.7em;
}

.fp {
	margin-top: -8.5em;
	float: left;
}

.price{
	background-color: @vert;
	.rounded-corners;
	width: 132px;
	padding: 0.5em;
	font-family: @steelfish;
	font-size: 27px;
	text-align:center;

	input {
		width: 25px;
		vertical-align: middle;
		background-color: @vert-fonce;
		color:@beige;
		padding: 0.1em;
		border: none;
		font-size: 23px;
		font-family: @steelfish;
	}
}

.euro {
	font-size: 40px;
	color: @vert-fonce;

	span {
		font-size: 20px;
	}
}
// A PROPOS.HTML
.a-propos {
	.span10;
	margin-left: 0em;
}

// CHEQUES-CADEAUX.HTML
.cheques-cadeaux {
	p {
		margin-top: 1em;
		font-size: 20px;
	}

	ul {
		width: 635px;
	}

	li {
		padding-top: 1em;
		list-style-image: url('../img/icones/puce.png');
	}

	.valeurs {

		margin: 2em 0;

		li {
			display: inline-block;
			list-style-type: none;

			a {
				text-decoration: none;
			}
		}
	}

	.cheque {
		width: 152px;
		display: block;
		margin: 0.5em auto;
		font-size: 16px;
		background-color: @vert;
		color: @brun;
	}

	.cheque:hover {
		background-color: @brun;
		color: @vert;
	}
}

// CONTACT.HTML 
div.adresse {
	p {
		border: none;
		font-size: 18px;
		.span16;
	}
}

// CATEGORIE.HTML 
.article .cat {
	width: 136px;
}

.article .a-h3 {
	background: none;
	color: @vert;
	.span12;
	margin: -0.1em -2em;
}

// PANIER.HTML
ul.mon-panier {
	text-align: left;
}

.ma-commande {
	.span11;
	margin-top: 2em;
	padding-bottom: 2em;

	button {
		width: 160px;
		padding: 0.5em;
		position: relative;
		top: 1.5em;

		a {
			color: white;
			text-decoration: none;
			font-size: 18px;
			float: left;
			margin: 0em;
		}
	}

	button:after {
		content:"";
		background: url('../img/icones/fleche.png') no-repeat;
		display: block;
		position: absolute;
		height: 10px;
		width: 30px;
		left: 7.7em;
		top: 0.9em;
	}

	.delete {
		background: url('../img/icones/delete.png') no-repeat;
		display: block;
		text-indent: -9999px;
		height: 50px;
		width: 15px;
		margin-top: 1em;
	}

	.hidden {
		width: 15px;
		display: block;
	}

	table {
		display: block;
		text-align: center;
		.rounded-corners;
		width: 100%;
		background-color: @vert;
	}

	thead {
		.rounded-corners;
		display: block;
		text-align: center;
	}

	tbody {
		background-color:@vert-clair;
		display: block;
	}

	tfoot {
		display: block;

		tr, td {
			display: block;
			text-align: right;
			margin-bottom: -1em;
			margin-right: 0.9em;
		}

		span {
			margin-left: 1em;
		}
	}

	th, td{
		text-align: center;
		padding: 0.5em;
		vertical-align: middle;
		border-bottom: 2px solid @vert;
	}

	.panier-name{
		width: 356px;

		img {
			margin-left: -1em;
		}
	}

	.panier-pu, .panier-qte, .panier-pt{
		width: 50px;
	}

	input {
		width: 40px;
		height: 15px;
		text-align: center;
		margin-top: 0.8em;
	}

	.panier-adresse {
		display: block;
		width: 160px;

		td {
			border: none;
		}
	}

	.radio {
		height: 0px;
		margin-top: 0.1em;
		position: absolute;
	}

	.add-adr {
		font-size: 18px;
		position: relative;
		top: 7em;
		left: -26em;
	}

	.panier-transport {
		width: 145px;
	}

	.panier-infos, .panier-infos2 {
		width: 380px;
		text-align: left;
	}

	.panier-infos2 {
		border: none;
	}

	.panier-prix {width: 37px;}

	.mode-paiement {
		width: 220px;
	}

	.paiement ul {
		margin-top: 1em;

		.radio {
			margin-top: 1.4em;
		}
	}
}

/////////// MEDIA QUERIES ///////////

@media screen and (-webkit-min-device-pixel-ratio:0) {
	h2:after {top: 50px;}
	#menu li {padding-top: 0em;}
	.news, .promos, .product-liquid, .product-list {
		li.marqueurs:after {margin-top: -310px;}
		.reduction {margin-top: -325px; margin-left: 123px;}
		.pourcent {margin-left: 13px;margin-top: 31px;}
	}
	#search-box input {height: 30px;color: @brun;}
	#search-box button {left: 7.4em;}
}
@media screen and (max-width: 960px) {
	#promo-fetes img {width: 550px;height: 270px;}
	#menu-dropdown {font-size: 18px;}
	#basket-details {left: 45.6em;}
	.news li, .promos li, .product-liquid li, .product-list li {width: 149px; margin-right: 2px;}
	.news li img, .promos li img, .product-liquid li img, .product-list li img {width:149px; height: 146px;}
	#footer .newsletter, #footer .livraison {padding: 0 2.4em;}
	#footer {padding-top: 1em;}
	#footer-bis .client {padding-left: 1em;}
	#footer-bis div {padding-left: 0em;}
	.affichage {left: 29em; .span4;}
	.description {left: 0.5em; margin-top: -10em;}
	.mon-compte, div.inscription, #creer-compte, .ma-commande {margin-right: 1.5em;}
	.mon-compte label, div.inscription label, #creer-compte label, .ma-commande label {width: 64px;}
	.ma-commande {width: 66.5%;}
	.ma-commande .add-adr {left: -22em;}
	.cheques-cadeaux ul {width: 550px;}
	.article .a-h3 {margin: 0em -2em;}
}
@media screen and (min-width:480px) and (max-width: 767px) {
	#menu li {padding: 0.1em 0.5em;}
	#basket,#connexion {margin-top: 8.5em;}
	#search-box {display: none;}
	h1 {top: 1em;}
	#menu li {top: 5.8em; padding: 0.1em 0.2em;}
	#menu .none {display: none;}
	#menu ul {margin-left: 0em;}
	#promo-fetes img, .avantages {display: none;}
	.news, .promos, .product-liquid, .product-list {padding-top: 0em;}
	.news li, .promos li, .product-liquid li, .product-list li {margin: 2em 3.1em 2em 0em;}
	.news a.voir, .promos a.voir, .product-liquid a.voir, .product-list a.voir {float: left;margin: -1em 0em 1em 0em;}
	#footer .livraison {display: none;}
	#footer .newsletter {padding-left: 2em;}
	#footer {height: 163px;}
	#footer div, #footer .paiement {width: 189px;padding-left: 0em;margin-right: 0em;}
	#footer-bis{margin-top: 3em; }
	#footer-bis .facebook {display: none;}
	#footer-bis div {width: 96px; padding-left: 0.5em;}
	#footer-bis .copyright {margin-top: -1.5em;}
	.sous-menu {display: none;}
	.article {margin-left: 0em; .span15;}
	.description {font-size: 16px; left: 1em; margin-top: -13em;}
	.price{width: 94px; }
	.article img {width: 115px;}
	.fp {margin-top: -16em;}
	.article button {width: 120px;}
	.article, .top-bar {margin-left: 0em;}
	.affichage {width: 50%; left: 17.5em;}
	.top-bar ul {width: 136%;}
	.article h3{margin-left: 4.5em;}
	.article a {width: 122px;}
	.mon-compte, div.inscription, #creer-compte, .ma-commande {.span14; margin-left: 0em; margin-top: 2em;}
}
@media screen and (min-width:320px) and (max-width:480px) {
	#menu li {
		padding: 0.1em 0.05em;
		font-size: 23px;
	}

	h1 img{
		width: 180px;
		height: 110px;
	}

	h1 {
		top: 2em;
	}

	#search-box {
		display: none;
	}

	#search-box, #basket,#connexion {
		margin-top: 4em;
	}

	#promo-fetes img {
		width: 380px;
		height: 190px;
	}

	#promo-fetes, .cheques-cadeaux, .a-propos {
		margin-left: 0em;
		margin-top: 1em;
	}

	.avantages {
		float: none;
	}

	.news li, .promos li, .product-liquid li, .product-list li {
		margin-right: 2.1em;
		margin-top: 1.5em;
	}

	.news a.voir, .promos a.voir, .product-liquid a.voir, .product-list a.voir {
		float: left;
		margin-top: 1em;
	}

	#footer {
		height: 200px;
	}

	#footer div, #footer .newsletter, #footer .livraison, #footer .paiement {
		width: 111px;
		padding-left: 0em;
		margin-right: 0em;
	}

	#footer .newsletter {
		padding-left: 1em;
	}

	#footer .livraison{
		padding-right: 0em;
	}

	#footer-bis{
		margin-top: 3em;
		height: 300px;
	}

	#footer-bis .client {
		padding-left: 1em;
	}

	#footer-bis div {
		width: 95px;
	}	

	#footer-bis div.facebook {
		display: none;
	}

	#footer-bis .copyright {
		font-size: 14px;
		margin-top: 2em;
	}
}
@media screen and (max-width:320px) {
	#menu li {
		padding: 0.1em 0.05em;
		font-size: 23px;
	}

	h1 img{
		width: 180px;
		height: 110px;
	}

	h1 {
		top: 2em;
	}

	#search-box {
		display: none;
	}

	#search-box, #basket,#connexion {
		margin-top: 4em;
	}

	#promo-fetes img {
		width: 380px;
		height: 190px;
	}

	#promo-fetes, .cheques-cadeaux, .a-propos {
		margin-left: 0em;
		margin-top: 1em;
	}

	.avantages {
		float: none;
	}

	.news li, .promos li, .product-liquid li, .product-list li {
		margin-right: 2.1em;
		margin-top: 1.5em;
	}

	.news a.voir, .promos a.voir, .product-liquid a.voir, .product-list a.voir {
		float: left;
		margin-top: 1em;
	}

	#footer {
		height: 200px;
	}

	#footer div, #footer .newsletter, #footer .livraison, #footer .paiement {
		width: 111px;
		padding-left: 0em;
		margin-right: 0em;
	}

	#footer .newsletter {
		padding-left: 1em;
	}

	#footer .livraison{
		padding-right: 0em;
	}

	#footer-bis{
		margin-top: 3em;
		height: 300px;
	}

	#footer-bis .client {
		padding-left: 1em;
	}

	#footer-bis div {
		width: 95px;
	}	

	#footer-bis div.facebook {
		display: none;
	}

	#footer-bis .copyright {
		font-size: 14px;
		margin-top: 2em;
	}
}
